@using ASWebEssentials.Models.CartModels
@using ASWebEssentials.ViewModels
@model List<CartVM>;
@{
    ViewData["Title"] = "Shopping-Cart";
}
@{
    decimal totalPrice = 0;
}
@{
    string disabledAttribute = Model.Count == 0 ? "disabled" : "";
}
@{
    int AllItems = 0;
}

<section class="py-5 mt-5 bg-light">
    
    <div class="container">
        <ol class="breadcrumb m-4">
            <li class="breadcrumb-item fw-bold">Cart</li>
            <li class="breadcrumb-item text-secondary">Place Order</li>
            <li class="breadcrumb-item text-secondary">Pay</li>
            <li class="breadcrumb-item text-secondary">Order Complete</li>
        </ol>
        <div class="row">
            <div class="col-xl-8">
                @if (Model.Count == 0)
                {
                    <p class="HeadingH3 m-4">Your cart is empty.</p>
                }
                else
                {
                    @foreach (var item in Model)
                     {
                         <div class="card border shadow-none">
                                <div class="card-body">

                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="me-4">
                                            <img src="@item.Image" alt="" class="avatar-lg rounded">
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <h5 class="text-truncate font-size-18"><a href="#" class="text-dark">@item.ProdName </a></h5>
                                            <p class="mb-0 mt-1">Option : <span class="fw-medium">@item.Name</span></p>
                                        </div>
                                    </div>

                                <div class="row">
                                        <div class="col-md-3 mt-3">
                                            <p class="text-muted mb-2">Price</p>
                                            <h5 class="mb-0 mt-2"><span class="text-muted me-2"></span>$ @item.ItemPrice</h5>
                                        </div>

                                        <div class="col-md-3 mt-3">
                                            <p class="text-muted mb-2">Quantity</p>
                                            <div class="d-inline-flex">
                                                <select class="form-select form-select-sm w-m quantity-select" data-item-id="@item.CartItemId">
                                                    @for (int i = 1; i <= 8; i++)
                                                    {
                                                    if (item.Quantity == i)
                                                    {
                                                    <option value="@i" selected>@i</option>
                                                    }
                                                    else
                                                    {
                                                    <option value="@i">@i</option>
                                                    }
                                                    }
                                                </select>
                                                <button class="btn btn-light p-1 mx-2"
                                                    type="submit" onclick="updateQuantity('@item.CartItemId', $('.quantity-select').val())">Update</button>
                                            </div>
                                        </div>

                                    <div class="col-md-3 mt-3 TCor">
                                            <p class="text-muted mb-2">Total</p>
                                            <h5>$ @item.TotalItemPrice</h5>
                                        </div>
                                        <div class="col-md-3 mt-5 text-end">
                                            <button class="btn btn-danger" onclick="deleteCartItem(@item.CartItemId)">
                                                <i class="fa fa-trash" style="font-size:20px"></i>
                                            </button>

                                        </div>
                                    @{
                                        totalPrice += item.TotalItemPrice;
                                        AllItems += item.Quantity;
                                    }
                                    </div>

                                </div>
                            </div>
                     }

                }
            </div>

            <div class="col-xl-4 mt-5 mt-lg-0">
            <div class="card border shadow-none">
                <div class="card-header bg-transparent border-bottom py-3 px-4">
                    <h5 class="font-size-16 mb-0">Order Summary </h5>
                </div>
                <div class="card-body p-4 pt-2"> 
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Number of Items:</td>
                                        <td class="text-end">@AllItems items</td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Total Price:</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                $ @totalPrice
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
            </div>

            <div class="  ">

                <div class="text-end my-4">
                        @if (Model.Count == 0)
                        {
                            <a asp-controller="Products" asp-action="Index" id="checkoutButton" class="btnClass3" disabled>
                                Checkout <i class="fa fa-angle-double-right"></i>
                            </a>
                        } else
                        {
                            <a asp-controller="Checkouts" asp-action="Index" id="checkoutButton" class="btnClass3">
                                Checkout <i class="fa fa-angle-double-right"></i>
                            </a>
                        }
                </div>

                <div class="text-end my-3">
                    <a asp-controller="Products" asp-action="Index" class="btnClass4">
                       <span><i class="fa fa-angle-double-left"></i> Back to STORE</span>
                    </a>
                </div>
            </div> 
        </div>

        </div>
    </div>
    
</section>


@section Scripts {
    <script>
        function updateQuantity(itemId, newQuantity) {
            var parsedItemId = parseInt(itemId);
            var parsedNewQuantity = parseInt(newQuantity);

            var url = '@Url.Action("UpdateQuantity", "Cart")'
                + '?itemId=' + parsedItemId
                + '&newQuantity=' + parsedNewQuantity;

            window.location.href = url;
        }
    </script>

    <script>
        function deleteCartItem(itemId) {

            console.log(itemId);
            fetch(`/Cart/Delete/${itemId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    console.log('Item deleted successfully');
                    location.reload();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    </script>
}




